# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints

# Data files
*.csv
*.log
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Model files
*.h5
*.pkl
*.joblib
ai-model/saved_models/*
!ai-model/saved_models/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Kubernetes
*.kubeconfig

# Logs
logs/
*.log


# Markdown files
*.md
*.md
